.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../public/assets/images/00.jpg');
  background-size: cover;
}

.panel {
  border-radius: 10px;
  padding: 30px;
  border: 1px solid #ccc;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8); /* Adding some opacity to make the panel more readable */
}
.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.buttonStyles {
  border-radius: 5px;
  background-color: #440844;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}